extends ../layouts/default

block vars
  - var section = 'home';
  - var klass = 'home';

block top
  .top
    include ../../public/images/home/city.svg
    ul
      li(class=(section == 'home' ? 'active' : null))
        a(href='/') Home
      // li(class=(section == 'cfp' ? 'active' : null))
      //  a(href='/proposals') Call for Proposals
      li(class=(section == 'cfw' ? 'active' : null))
        a(href='/workshops') Call for Workshops
      li
        a(href='/#speakers') Speakers
      li
        a(href='/#sponsors') Sponsors
      li(class=(section == 'venue' ? 'active' : null))
        a(href='/venue') Venue
      // li(class=(section == 'hotels' ? 'active' : null))
      //   a(href='/hotels') Hotels
      li(class=(section == 'coc' ? 'active' : null))
        a(href='/code-of-conduct') Code of Conduct
      li(class=(section == 'blog' ? 'active' : null))
        a(href='/blog') Blog
      // li
      //  a(href='javascript:void(0);', data-buy) Buy
      li
        a(href='http://2014.jsconf.uy/') Last Year

block content
  #speakers.speakers
      h1 Meet the Speakers
      ul
        each speaker in speakers
          li
            if speaker.picture.exists
              .img(style='background-image: url(#{speaker._.picture.fill(230,230)})')
            else
              .img.empty
            .name
              != speaker.name
            .bio
              != speaker.biography.short.html
  #sponsors.sponsors
    h1 Sponsors
    
    ul
      each sponsorLevel in sponsorsLevels
        ul
          .name
            != sponsorLevel.name
            each sponsor in sponsorLevel.sponsors
              .sponsor
                != sponsor.name
          
    
    h2 Interested?
    p.text-center
      | Contact us at 
      a(href='mailto:hola@jsconf.uy') hola@jsconf.uy
  .organizers
    h1 Organizers
    ul
      each organizer in organizers
        li
          if organizer.picture.exists
            .img(style='background-image: url(#{organizer._.picture.fill(230,230)})')
          else
            .img.empty
          a.name(href='//twitter.com/#{organizer.twitter}')
            != organizer.name

block js
  script(src='/js/home.js')
