extends ../layouts/default

block vars
  - var section = 'hotels';
  - var klass = 'hotels';


block content
  .container
    .row
      .col-md-10.col-md-offset-1
        h1 Hotels
  
  .container.marketing
  
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | After Hotel

        p.hotel-description
          | After Hotel Montevideo has been conceived as the optimum 
          | accommodation alternative for visitors coming to Montevideo 
          | on business or for pleasure, providing a complete experience 
          | that offers an array of services and facilities of the highest 
          | caliber.
          
          p.hotel-description
            span.label.label-primary
              i.fa.fa-usd 
              |  USD 90 After Twin
            | 
            span.label.label-primary
              i.fa.fa-usd 
              |  USD 90 After Queen

          p.text-center
            a.book-hotel-btn(href="http://www.afterhotel.com.uy/en/", target="_blank")
              | Book 
              strong
                |  After hotel
          
      .col-md-5
        img.featurette-image.img-responsive.center-block(
          src="/images/hotels/after-hotel.jpg"
        )
