extends ../layouts/default

block top
  p Hola

block content
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
  p Hola
