include ../mixins/flash-messages

doctype html
html

  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title || 'JSConfUY'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(href="/styles/site.css", rel="stylesheet")
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    block css

    block head

  body
    block top

    block header
      header
        nav(role="navigation").navbar.navbar-default
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              img(src='/images/logo.png', alt='JSConf Uruguay')
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              each link in links
                li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label

    #body

      block intro

      +flash-messages(messages)

      block content


    .container: #footer

    script(src='/js/lib/jquery/jquery-2.1.1.min.js')
    script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')
    script(src='/js/lib/base.js')

    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')

    block js
