.home {
  min-height: 100%;
  height: 100%;
  body {
    padding: 0;
    min-height: 100%;
    height: 100%;
    .navbar {
      @media (min-width: $screen-sm-min) {
        display: none;
        &.active {
          display: block;
        }

      }
    }
    & > footer {
      margin-top: 0;
    }
    .top {
      display: block;
      background-color: $blue-dark;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      width: 100%;
      height: 70%;
      min-height: 70%;
      padding-top: 85px;
      @media (min-width: $screen-sm-min) {
        height: 100%;
        min-height: 100%;
        padding: 5% 0;
      }
      z-index: 1000;
      position: relative;
      svg{
        display: block;
        height: 100%;
        margin: 0 auto;
        max-width: 100%;
        @include crossBrowser(pointer-events, none);
      }
      ul {
        display: none;
        @media (min-width: $screen-sm-min) {
          position: absolute;
          bottom: 0;
          padding: 0;
          margin: 0 auto;
          width: 100%;
          text-align: center;
          min-height: 70px;
          display: block;
        }
        li {
          display: inline-block;
          margin: 0;
          line-height: 70px;
          list-style: none;
          padding: 0;
          text-transform: uppercase;
          vertical-align: bottom;
          height: 70px;
          a {
            display: block;
            height: 100%;
            color: $blue-light;
            padding: 0 15px;
            font-family: $headings-font-family;
            &:hover {
              text-decoration: none;
              color: lighten($blue-light, 10%);
            }
          }
        }
      }
    }
    .speakers {
      padding: 30px 0;
      ul {
        margin: 90px auto;
        max-width: 1200px;
        padding: 0;
        text-align: center;
        li {
          list-style: none;
          display: inline-block;
          vertical-align: top;
          width: 282px;
          padding: 0 0 30px 0;
          .img {
            margin: 0 auto;
            display: block;
            height: 230px;
            width: 230px;
            @include crossBrowser(mask, url('../images/home/mask.svg') no-repeat);
            @include background-size-cover();
            &.empty {
              background: transparent url('../images/base/george.svg') no-repeat 50% 50%;
              background-size: 70% auto;
            }
          }
          .name {
            display: block;
            margin: 10px 0 10px;
            text-transform: uppercase;
            color: $blue;
            font-weight: bold;
            font-size: $font-size-large;
            font-family: $headings-font-family;
          }
          .bio {
            margin: 10px 0 0;
            color: $text-color;
            font-size: $font-size-medium;
          }
        }
      }
    }
    .sponsors {
      padding: 30px 0;
      ul {
        padding: 0;
        text-align: center;
        max-width: 1200px;
        margin: 90px auto;
      }
    }

    .organizers {
      padding: 30px 0;
      background-color: $blue-dark;
      h1 {
        background: transparent url('../images/home/ballon.svg') no-repeat 50% 0;
        background-size: 230px auto;
        padding-top: 250px;
        color: $white;
      }
      ul {
        display: block;
        padding: 0;
        text-align: center;
        max-width: 1200px;
        margin: 90px auto;
        li {
          list-style: none;
          display: inline-block;
          vertical-align: top;
          width: 282px;
          padding: 10px 0 40px 0;
          .img {
            margin: 0 auto;
            display: block;
            height: 230px;
            width: 230px;
            @include crossBrowser(mask, url('../images/home/mask.svg') no-repeat);
            @include background-size-cover();
            &.empty {
              background: transparent url('../images/base/george.svg') no-repeat 50% 50%;
              background-size: 70% auto;
            }
          }
          .name {
            display: block;
            margin: 10px 0 0;
            text-transform: uppercase;
            color: $white;
            font-size: $font-size-large;
            font-family: $headings-font-family;
          }
        }
      }
    }
  }
}
