.hotels {

  .label.label-primary {
    background: $red;
  }

  .book-hotel-btn {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-block;

    border-radius: 4px;

    &:hover {
      background: $blue;
      color: $white;
    }
  }

  .lead {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .hotel-description {
    font-size: 0.8em;
  }

  .row.featurette {
    padding: 60px 0;
  }
}
