body {
  padding-top: $navbar-height;
}

/* Begin Base */

h1 {
  font-size: 4.750em;
  text-align: center;
  margin: 30px auto;
}

h2 {
  font-size: 2.500em;
  text-align: center;
  margin: 10px auto;
}

/* End Base */

/* Begin Header */

body > header {
  height: $navbar-height;
  -webkit-box-shadow: 0 0.063em 0.25em rgba( 37, 50, 55, .25 ); /* 1 4 */
  box-shadow: 0 0.063em 0.25em rgba( 37, 50, 55, .25 ); /* 1 4 */
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  body > header.sticky nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  }
}

.navbar {
  border: none;
}

.navbar .navbar-brand {
  padding: 0px;
}

.navbar .navbar-brand img {
  display: block;
  width: $navbar-height;
}

.navbar .navbar-nav > li > a {
  font-size: 18px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .navbar .navbar-nav > li > a {
    padding: 0 15px;
    vertical-align: middle;
    line-height: $navbar-height;
  }
}

.navbar .navbar-nav > li > a {
  color: #777777;
  text-decoration: none;
}

.navbar .navbar-nav > li > a:hover {
  color: #004165;
  background-color: #fff;
}

.navbar-toggle {
  margin-top: 24px;
  border: 0;
  border-radius: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #5dade2;
}

.navbar-toggle .icon-bar {
  background-color: #004165;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
  .navbar-collapse.collapse {
    margin-left: $navbar-height;
    margin-right: $navbar-height;
  }
}

/* End Header */

/* Begin Footer */

footer {
  background-color: $black;
  display: block;
  min-height: 100%;
  .map, .container {
    display: inline-block;
    margin-right: -5px;
    height: 100%;
    vertical-align: top;
    width: 50%;
  }
  .map {
    background-color: $blue-light;
    @include background-size-cover();
  }
  .container {
    .venue {
      display: block;
      margin: 50px auto;
      h1, h2 {
        color: $white;
      }
      h1 {
        background: transparent url('../images/isometric-03.svg') no-repeat 50% 0;
        background-size: 230px auto;
        padding-top: 250px;
      }
    }
    .info {
      display: block;
      margin: 50px auto;
      max-width: 450px;
      padding: 30px 0;
      h3{
        color: $white;
        display: block;
        margin: 30px auto;
        text-align: center;
      }
      .data {
        display: block;
        input{
          border: none;
          display: inline-block;
          height: 70px;
          margin-right: -5px;
          padding: 0 20px;
          vertical-align: top;
          @include calc(width, "100% - 110px");
          @include crossBrowser(appearance, none);
          @include crossBrowser(border-radius, 3px 0 0 3px);
          &:focus{
            outline: none;
          }
        }
        button{
          background-color: $blue;
          border: none;
          color: $white;
          display: inline-block;
          height: 70px;
          vertical-align: top;
          vertical-align: top;
          width: 110px;
          @include crossBrowser(appearance, none);
          @include crossBrowser(border-radius, 0 3px 3px 0);
          @include crossBrowser(transition, all 100ms);
          &:hover{
            background-color: lighten($blue, 5%)
          }
        }
      }
    }
  }
  .copy {
    background-color: $black;
    display: block;
    height: 70px;
    text-align: center;
    width: 100%;
    .container{
      border-top: 1px solid lighten($black, 10%);
      width: 80%;
      a {
        color: darken($white, 20%);
        line-height: 70px;
        margin: 0;
        vertical-align: bottom;
        &:after {
          content: "-";
          margin: 0 15px;
        }
        &:hover{
          color: $white;
          text-decoration: none;
        }
        &:last-of-type {
          &:after {
            content: "";
          }
        }
      }
    }
  }
  a{
    color: $blue-light;
    margin: 0 5px;
    &:hover{
      color: lighten($blue-light, 10%);
    }
  }
}

/* End Footer */

// Tickets
#buy {
  .indicators {
    margin: 0;
    padding: 0;
    @include clearfix();
    .indicator {
      padding: 20px 0;
      width: 33.3333%;
      float: left;
      text-align: center;
      font-size: 30px;
      i {
        vertical-align: middle;
      }
      span {
        display: block;
        margin: 10px 0 0 0;
        font-size: 14px;
        text-align: center;
      }
      &.active {
        background-color: $blue;
        color: $white;
      }
    }
  }
  .steps {
    .step {
      margin: 20px 0 0 0;
      &.step-select {
        .loading {
          position: relative;
          height: 150px;
        }
        .tickets {
          .title {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            color: $blue;
            font-size: 24px;
            margin: 20px 0;
          }
          .discount {
            text-align: right;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            margin: 0 0 20px 0;
            .code {
              display: inline-block;
              padding: 4px 8px;
              border: 2px solid $blue;
              background-color: $white;
              color: $blue;
              &.error {
                border: 2px solid $brand-danger;
                background-color: $brand-danger;
                color: $white;
              }
            }
          }
          ul {
            padding: 0;
            margin: 0 0 40px 0;
            li {
              @include clearfix();
              display: block;
              padding: 0;
              margin: 0 0 20px 0;
              .name {
                text-align: left;
                text-transform: uppercase;
                font-weight: bold;
                color: $blue;
                float: left;
                width: 60%;
              }
              .buy {
                float: left;
                width: 40%;
                text-align: right;
                input {
                  padding: 2px;
                  border: 2px solid $blue;
                  width: 3em;
                  margin: 0 0 0 4px;
                  text-align: center;
                }
                button {
                  padding: 4px 8px;
                  background-color: $blue;
                  color: $white;
                  border: 0;
                }
              }
            }
          }
        }
        .soldout {
          text-align: center;
          text-transform: uppercase;
          font-weight: bold;
          padding: 10px 20px;
          border: 3px solid $blue;
          color: $blue;
          font-size: 20px;
          width: 270px;
          margin: 40px auto;
        }
      }
      &.step-payment {
        .loading {
          position: relative;
          height: 150px;
        }
        .info {
          @include clearfix();
          .data {
            @include clearfix();
            float: left;
            width: 50%;
            &:nth-child(odd) {
              padding: 0 10px 0 0;
            }
            &:nth-child(even) {
              padding: 0 0 0 10px;
            }
            padding: 0 10px;
            input {
              border: 1px solid $blue;
              width: 100%;
              padding: 4px;
              margin: 0 0 10px 0;
            }
          }
          .title {
            margin: 15px 0 10px 0;
            text-transform: uppercase;
            font-weight: bold;
            color: $blue;
            font-size: 20px;
          }
          .separator {
            border-top: 1px dashed $gray-dark;
            margin: 20px 0 20px 0;
          }
          .detail {
            text-align: right;
            margin: 0 0 10px 0;
          }
          .total {
            text-align: right;
            margin: 0 0 10px 0;
          }
          .action {
            text-align: right;
            button {
              padding: 4px 8px;
              background-color: $blue;
              color: $white;
              border: 0;
            }
          }

        }
      }
    }
  }
}


.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: 8em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:before {
  left: -3.5em;
}
.loader:after {
  left: 3.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em $blue;
  }
  40% {
    box-shadow: 0 2.5em 0 0 $blue;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em $blue;
  }
  40% {
    box-shadow: 0 2.5em 0 0 $blue;
  }
}
