.schedule {
  .coming {
    border-radius: 4px;
    padding: 50px 0;
    background-color: $gray-light;
    color: $blue;
    text-align: center;
  }
  table {
    width: 100%;
    tr {
      td, th {
        text-align: center;
        border: 1px solid $gray;
        vertical-align: top;
      }
      th {
      }
      td {
        &.time {
        }
        &.slot-talk, &.slot-workshop, &.slot-keynote {
          .speakers {
            .speaker {
              .picture {
                height: 40px;
                width: 40px;
              }
            }
          }
        }
      }
    }
  }
}
