.schedule {
  .coming {
    border-radius: 4px;
    padding: 50px 0;
    background-color: $gray-light;
    color: $blue;
    text-align: center;
  }
  table {
    margin: 30px auto;
    width: 100%;
    tr {
      margin: 5px 0;
      &:first-of-type {
        font-size: 0.8em;
        height: 60px;
      }
      td, th {
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        vertical-align: top;
      }
      th {
        &.track {
          width: 50%;
        }
      }
      td {
        color: $blue-dark;
        &.time {
          color: $gray;
          padding: 15px;
        }
        &.slot {
          .box {
            background: rgba(85, 150, 192, 0.20);
            border-radius: 5px;
            display: block;
            height: 100%;
            padding: 10px;
            width: 100%;
          }
        }

        &.slot-break, &.slot-lunch {
          .box {
            background: rgba(85, 150, 192, 0.40);
          }
        }
        &.slot-talk, &.slot-workshop, &.slot-keynote, &.slot-empty {
          .box {
            background: transparent;
          }
        }
        &.slot-talk, &.slot-workshop, &.slot-keynote, {
          position: relative;
          .box {
            position: relative;
            z-index: 1;
          }
          &:before {
            border: 1px solid $gray-light;
            border-radius: 5px;
            content: "";
            display: block;
            height: -webkit-calc(100% - 10px);
            height: -moz-calc(100% - 10px);
            left: 5px;
            position: absolute;
            top: 5px;
            width: -webkit-calc(100% - 10px);
            width: -moz-calc(100% - 10px);
            z-index: 0;
          }
          .title {
            color: $blue-dark;
            cursor: pointer;
            margin-bottom: 15px;
            text-transform: uppercase;
            &:hover {
              &:after {
                -webkit-transform: rotate(360deg);
                   -moz-transform: rotate(360deg);
                        transform: rotate(360deg);
              }
            }
            &:after {
              color: $red;
              content: "+";
              cursor: pointer;
              display: inline-block;
              font-weight: 700;
              -webkit-transition: all 100ms;
                 -moz-transition: all 100ms;
                      transition: all 100ms;
            }
          }
          .description {
            color: $gray-dark;
            display: block;
            height: 0;
            font-size: 0.75em;
            opacity: 0;
            overflow: hidden;
            padding: 0;
            text-align: left;
            -webkit-transition: all ease-out 100ms;
               -moz-transition: all ease-out 100ms;
                    transition: all ease-out 100ms;
            &.active {
              height: auto;
              opacity: 1;
              padding: 15px;
            }
          }
          .speakers {
            .speaker {
              .name {
                color: $blue-dark;
                font-weight: 700;
                text-transform: uppercase;
              }
              .picture {
                margin: 0 auto;
                display: block;
                height: 40px;
                width: 40px;
                -webkit-clip-path: url(../images/home/mask-small.svg);
                clip-path: url(../images/home/mask-small.svg#hexagonPath);
                 -webkit-mask: url(../images/home/mask-small.svg);
                @include background-size-cover();
                &.empty {
                  background: transparent url('../images/base/george.svg') no-repeat 50% 50%;
                  background-size: 70% auto;
                }
              }
            }
          }
        }
        &.slot-keynote {
          .box {
            background: rgba(22, 38, 54, 0.75);
            border: 0;
            color: $white;
            font-weight: 700;
            text-transform: uppercase;
            .title, .description {
              color: $white;
            }
          }
        }
      }
    }
  }
}
