$brand-primary:         #004165 !default;
$font-family-sans-serif:  "Rambla", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-size-base:          18px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-h1:            floor(($font-size-base * 3.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.8)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px
$headings-color:          $brand-primary !default;

// Navbar
$navbar-height:                    70px !default;
$navbar-margin-bottom:             0 !default;
$navbar-border-radius:             0 !default;

$navbar-default-color:             $brand-primary !default;
$navbar-default-bg:                #ffffff !default;
$navbar-default-border:            none !default;

$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          $brand-primary !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $brand-primary !default;
$navbar-default-link-active-bg:            transparent !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;
